/* Spacing */
.mb-10 {
  margin-bottom: 5rem;
}

.gap-1 {
  gap: 0.25rem;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

/* Flexbox */
.flex {
  display: flex;
}

/* Justify Content */

/* Font Size */
.text-sm {
  font-size: 0.875rem;
}

/* Base Button Styles */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button Variants */
.btn-main {
  display: block;
  width: 100%;
  font-weight: 500;
  display: inline-block;
  padding: 1.7rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-primary:hover {
  background-color: #0f5cc3; /* Darker shade of primary color */
}

.btn-card-1 {
  background-color: var(--bg-card-1);
  color: var(--primary-color);
}

.btn-card-1:hover {
  background-color: var(--bg-card-2); /* Darker shade of secondary color */
}
.btn-c {
  background-color: var(--bg-card-2);
  color: var(--danger-color);
  font-weight: 700;
  font-size: 22px;
}

.calculator-btn-section .calculator-number-btns .btn-c {
  background-color: var(--bg-card-2);
  color: var(--danger-color);
  font-weight: 700;
  font-size: 22px;
  border: none;
  cursor: pointer;
}

.btn-number {
  background-color: var(--bg-card-2);
  color: var(--gray-light);
}

.btn-c:hover {
  background-color: var(--bg-card-2);
}

.btn-danger {
  background-color: var(--danger-color);
  color: var(--white);
}

.btn-danger:hover {
  background-color: #b02a37; /* Darker shade of danger color */
}
.btn-maroon {
  background-color: var(--maroon-color);
  color: var(--white);
}

.btn-maroon:hover {
  background-color: #801c26; /* Darker shade of danger color */
}
.btn-ass {
  background-color: var(--ass-color);
  color: var(--white);
}

.btn-ass:hover {
  background-color: #8f9392; /* Darker shade of danger color */
}
.btn-ass-deep {
  background-color: var(--ass-deep-color);
  color: var(--white);
}

.btn-ass-deep:hover {
  background-color: #505153; /* Darker shade of danger color */
}

.btn-success {
  background-color: var(--success-color);
  color: var(--gray-light);
}

.btn-light-taupe {
  background-color: var(--light-taupe-color);
  color: var(--gray-light);
}

/* Button Click Effect */
.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  opacity: 0.9;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

a {
  text-decoration: none;
}
